In [30]:

import json
import time
import pprint
import warnings
import rpy2
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from nb_processors.preprocessor import *
pp = pprint.PrettyPrinter(indent=2)
warnings.filterwarnings('ignore')
%reload_ext rpy2.ipython
from ath_magics import ath_sql
from ath_magics import step
from ath_magics import my_step
from ath_magics import help
from ath_magics import table
from ath_magics import step_help
from ath_magics import udf_step
from ath_magics import ath_data
from ath_utils.utils import load_udf
from ath_utils.my_table import MyTable
from ath_interface.python_udf import UDF
from ath_utils.r_environment_setup import initialize_notebook_r_environment, update_notebook_state
%reload_ext ath_magics.ath_sql
%reload_ext ath_magics.step
%reload_ext ath_magics.my_step
%reload_ext ath_magics.help
%reload_ext ath_magics.table
%reload_ext ath_magics.step_help
%reload_ext ath_magics.udf_step
%reload_ext ath_magics.ath_data
rpy2.robjects.pandas2ri.activate()
%R source('/home/jovyan/data/data/functions/ath_rfunctions/ath/R/load_udf.R');
import os
os.environ["LOGGER_CONFIG"] = "/home/jovyan/logger.yaml"

In [31]:

props = {
    "datadirpath":"/home/jovyan/data/data/",
    "outputFolderName":"data/output/",
    "logFilePath":"None",
    "functionsDefaultTimeout":1800,
    "parallelCount":4,
    "rFilesDirectory":"/home/jovyan/data/data/functions/ath_rfunctions/ath/R/",
    "dataObjectPrefix":"dataobject_",
    "tenantId":"da49652c-ba7d-4531-b610-a50cf856d841",
    "userId":"157811",
    "preAuth":'{"id":"363ffd87-327c-4214-8397-963a9c27bf36","mappingId":157811,"mapping_id":157811,"name":"Rahul Kadam","email":"kadamrahulj0909@gmail.com","profileUrl":null,"password":"*****","enabled":true,"userType":"individual","tenant":{"id":"da49652c-ba7d-4531-b610-a50cf856d841","name":"analyttica"},"userTenantId":"2bd64c45-34b2-4ab6-9a3a-0c94851d125e","userTenantStatus":null,"currency":"INR","createdOn":"2021-02-15T03:25:39.000+0000","lastModifiedOn":"2021-02-15T03:25:39.000+0000","roles":[{"id":21,"name":"B2C_BASIC_USER","users":null,"privileges":null}],"privileges":[{"name":"MODIFY_DASHBOARD"},{"name":"ADD_COMMENT"},{"name":"VIEW_COURSE_SCORE"},{"name":"ENROLL_COURSE"},{"name":"ADD_COLLABORATOR"},{"name":"B2C_DEFAULT_PLAN_EMAIL"},{"name":"UPLOAD_DATA"},{"name":"CREATE_CASE"},{"name":"ACCESS_CONSOLE"},{"name":"ADD_NOTE"}],"planVariantId":null,"subscriptionExpiryDate":null}',
    "baseApiUrl":"https://leapsapi.analyttica.com",
    "stagingAreaPath":"/output/da49652c-ba7d-4531-b610-a50cf856d841/solve_104531/user_157811/data",
    "urls":{'addDatasetsUrl': {'method': 'POST', 'ContentType': 'application/vnd.Analyttica.TreasureHunt.PathDTO+json', 'href': '/step/users/157811/solveDetail/104531/addDatasets'}, 'aliasUrl': {'method': 'GET', 'ContentType': 'application/json', 'href': '/step/users/157811/solveDetail/104531/table/getLatest'}, 'detailsUrl': {'method': 'GET', 'ContentType': 'application/json', 'href': '/functions/{functionId}/functionDetails'}, 'deleteDataObject': {'method': 'PUT', 'ContentType': 'application/json', 'href': '/file/deleteDataObject'}, 'allAliasUrl': {'method': 'GET', 'ContentType': 'application/json', 'href': '/step/users/157811/solveDetail/104531/table/getAll'}, 'searchUrl': {'method': 'GET', 'ContentType': 'application/json', 'href': '/functions/suggestions?query'}, 'dataObjectNameValidationUrl': {'method': 'GET', 'ContentType': 'application/json', 'href': '/step/users/157811/dataObject/validate/{dataObjectName}'}, 'dataObjectDetails': {'method': 'GET', 'ContentType': 'application/json', 'href': '/step/users/157811/dataObject/getDataObjectAll'}, 'createStepUrl': {'method': 'POST', 'ContentType': 'application/vnd.Analyttica.TreasureHunt.UserStep+json', 'href': '/step/users/157811/solveDetail/104531/steps'}},
    "funcDetailsByNameUrl":{'method': 'GET', 'ContentType': 'application/json', 'href': '/functions/name/{functionName}/functionDetails'},
    "udfCodeRootDir":"/mnt/rdata/data/udf",
    "udfCodeRootDirInNotebook":"/home/jovyan/data/data/udf",
    "baseDataUrl":"https://leapsdata.analyttica.com",
    "uiDataRowLimit":200,
    "lastStepId":"None",
}
execStartTime = int(round(time.time() * 1000))
outputFolderNameProp=""
pythonFilesDir=""
queuePublisher=""
local_store=None
if os.environ.get('DATADIRPATH'):
    props['datadirpath'] = os.environ.get('DATADIRPATH')
if "CONSOLE" == "SOLUTION" or "CONSOLE" == "CONSOLE":
    local_store=dict()
    if "CONSOLE" == "CONSOLE":
        initialize_notebook_r_environment(**props)
        data_converter = MyTable(**props)
        get_ipython().system = lambda *args: print('! is disabled!')
    %autosave 20

Autosaving every 20 seconds

In [5]:
%ath_table

# Lists the details of the tables (datasets) available in the point & click view
# Use '%ath_table -a <table_name> -l <python_dataframe_name>' to load the table to a Python dataframe.
# Alternatively, python_dataframe_name = data_converter.convert_my_table_to_df('<table_name>') can also be used to load the table to a Python dataframe.

Total number of tables:  9
1.Test
2.Train
3.Table_2
4.Table_3
5.Table_4
6.Table_5
7.Table_6
8.Table_7
9.Table_8

######## TABLE DETAILS #########

1.Test(3000 rows, 13 columns)

,id,gender,ssc_pct,ssc_board,hsc_pct,hsc_board,hsc_stream,degree_pct,degree_type,work_exp,emptest_pct,stream,mba_pct
0,20001,Female,65.16,Central Board,57.82,Central Board,Commerce,73.00,Commerce & Mgmt,No,57.16,HR,59.88
1,20002,Male,60.47,State Board,49.34,State Board,Science,55.33,Science & Tech,No,72.70,Finance,67.63

2.Train(7000 rows, 14 columns)

,id,gender,ssc_pct,ssc_board,hsc_pct,hsc_board,hsc_stream,degree_pct,degree_type,work_exp,emptest_pct,stream,mba_pct,status
0,10001,Female,69.31,Central Board,73.31,Central Board,Commerce,65.10,Commerce & Mgmt,No,70.92,Finance,56.70,0
1,10002,Male,67.12,Central Board,85.11,State Board,Commerce,73.63,Commerce & Mgmt,No,87.40,Finance,60.76,0

3.Table_2(3000 rows, 13 columns)

,id,gender,ssc_pct,ssc_board,hsc_pct,hsc_board,hsc_stream,degree_pct,degree_type,work_exp,emptest_pct,stream,mba_pct
0,20001,Female,65.16,Central Board,57.82,Central Board,Commerce,73.00,Commerce & Mgmt,No,57.16,HR,59.88
1,20002,Male,60.47,State Board,49.34,State Board,Science,55.33,Science & Tech,No,72.70,Finance,67.63

4.Table_3(3000 rows, 14 columns)

,id,gender,ssc_pct,ssc_board,hsc_pct,hsc_board,hsc_stream,degree_pct,degree_type,work_exp,emptest_pct,stream,mba_pct,predictecd_prob
0,20001,Female,65.16,Central Board,57.82,Central Board,Commerce,73.00,Commerce & Mgmt,No,57.16,HR,59.88,0
1,20002,Male,60.47,State Board,49.34,State Board,Science,55.33,Science & Tech,No,72.70,Finance,67.63,0

5.Table_4(3000 rows, 14 columns)

,id,gender,ssc_pct,ssc_board,hsc_pct,hsc_board,hsc_stream,degree_pct,degree_type,work_exp,emptest_pct,stream,mba_pct,predictecd_prob
0,20001,Female,65.16,Central Board,57.82,Central Board,Commerce,73.00,Commerce & Mgmt,No,57.16,HR,59.88,0
1,20002,Male,60.47,State Board,49.34,State Board,Science,55.33,Science & Tech,No,72.70,Finance,67.63,0

6.Table_5(3000 rows, 14 columns)

,id,gender,ssc_pct,ssc_board,hsc_pct,hsc_board,hsc_stream,degree_pct,degree_type,work_exp,emptest_pct,stream,mba_pct,predictecd_prob
0,20001,Female,65.16,Central Board,57.82,Central Board,Commerce,73.00,Commerce & Mgmt,No,57.16,HR,59.88,0
1,20002,Male,60.47,State Board,49.34,State Board,Science,55.33,Science & Tech,No,72.70,Finance,67.63,0

7.Table_6(3000 rows, 14 columns)

,id,gender,ssc_pct,ssc_board,hsc_pct,hsc_board,hsc_stream,degree_pct,degree_type,work_exp,emptest_pct,stream,mba_pct,predictecd_prob
0,20001,Female,65.16,Central Board,57.82,Central Board,Commerce,73.00,Commerce & Mgmt,No,57.16,HR,59.88,0
1,20002,Male,60.47,State Board,49.34,State Board,Science,55.33,Science & Tech,No,72.70,Finance,67.63,0

8.Table_7(3000 rows, 14 columns)

,id,gender,ssc_pct,ssc_board,hsc_pct,hsc_board,hsc_stream,degree_pct,degree_type,work_exp,emptest_pct,stream,mba_pct,predictecd_prob
0,20001,Female,65.16,Central Board,57.82,Central Board,Commerce,73.00,Commerce & Mgmt,No,57.16,HR,59.88,0
1,20002,Male,60.47,State Board,49.34,State Board,Science,55.33,Science & Tech,No,72.70,Finance,67.63,0

9.Table_8(3000 rows, 14 columns)

,id,gender,ssc_pct,ssc_board,hsc_pct,hsc_board,hsc_stream,degree_pct,degree_type,work_exp,emptest_pct,stream,mba_pct,predictecd_prob
0,20001,Female,65.16,Central Board,57.82,Central Board,Commerce,73.00,Commerce & Mgmt,No,57.16,HR,59.88,0
1,20002,Male,60.47,State Board,49.34,State Board,Science,55.33,Science & Tech,No,72.70,Finance,67.63,0

In [6]:
# Uploading training data 
train = data_converter.convert_my_table_to_df('Train')
train.head(10)

Loaded table Train as dataframe

,id,gender,ssc_pct,ssc_board,hsc_pct,hsc_board,hsc_stream,degree_pct,degree_type,work_exp,emptest_pct,stream,mba_pct,status
0,10001,Female,69.31,Central Board,73.31,Central Board,Commerce,65.10,Commerce & Mgmt,No,70.92,Finance,56.70,0
1,10002,Male,67.12,Central Board,85.11,State Board,Commerce,73.63,Commerce & Mgmt,No,87.40,Finance,60.76,0
2,10003,Male,80.46,Central Board,57.43,Central Board,Science,65.38,Science & Tech,Yes,70.78,Finance,61.90,0
3,10004,Female,72.00,State Board,60.00,State Board,Science,69.00,Commerce & Mgmt,No,55.50,HR,58.40,0
4,10005,Female,60.13,Central Board,58.83,State Board,Commerce,54.43,Commerce & Mgmt,No,52.93,HR,58.15,0
5,10006,Male,50.38,State Board,56.47,State Board,Science,61.00,Science & Tech,No,60.00,HR,NaN,0
6,10007,Male,80.71,State Board,82.27,State Board,Commerce,77.50,Commerce & Mgmt,No,91.06,Finance,74.63,1
7,10008,Male,68.96,Central Board,NaN,Central Board,Science,63.71,Other Degree,Yes,65.96,HR,727.60,0
8,10009,Male,43.57,State Board,54.86,State Board,Science,61.28,Science & Tech,Yes,87.24,Finance,59.11,0
9,10010,Male,61.88,State Board,62.53,State Board,Commerce,63.77,Commerce & Mgmt,No,66.88,Finance,56.95,0

In [7]:
# Uploading testing data
test_df = data_converter.convert_my_table_to_df('Test')
test_df.head(10)

Loaded table Test as dataframe

,id,gender,ssc_pct,ssc_board,hsc_pct,hsc_board,hsc_stream,degree_pct,degree_type,work_exp,emptest_pct,stream,mba_pct
0,20001,Female,65.16,Central Board,57.82,Central Board,Commerce,73.00,Commerce & Mgmt,No,57.16,HR,59.88
1,20002,Male,60.47,State Board,49.34,State Board,Science,55.33,Science & Tech,No,72.70,Finance,67.63
2,20003,Male,NaN,Central Board,55.47,Central Board,Commerce,50.46,Commerce & Mgmt,No,67.00,HR,62.84
3,20004,Male,78.44,State Board,49.02,State Board,Science,63.66,Science & Tech,Yes,64.00,Finance,72.82
4,20005,Male,80.66,Central Board,75.64,Central Board,Science,81.48,Science & Tech,Yes,77.39,HR,77.62
5,20006,Female,85.12,State Board,92.93,State Board,Commerce,77.04,Commerce & Mgmt,Yes,73.89,Finance,76.85
6,20007,Male,69.60,Central Board,68.40,Central Board,Commerce,78.30,Commerce & Mgmt,NaN,60.00,Finance,NaN
7,20008,Male,70.28,State Board,59.45,State Board,Commerce,64.82,Commerce & Mgmt,No,88.02,Finance,52.38
8,20009,Female,67.72,Central Board,73.28,Central Board,Commerce,63.85,Commerce & Mgmt,No,52.30,Finance,64.96
9,20010,Female,84.25,State Board,52.61,State Board,Science,90.49,Science & Tech,No,59.37,HR,69.82

In [8]:
# Checking for null values
train.isna().sum()

id             0
gender         0
ssc_pct        110
ssc_board      144
hsc_pct        244
hsc_board      121
hsc_stream     0
degree_pct     172
degree_type    37
work_exp       313
emptest_pct    182
stream         50
mba_pct        268
status         0
dtype: int64

In [9]:
# Extracting the columns
features = ['gender', 'ssc_pct', 'hsc_pct', 'degree_pct', 'work_exp', 'emptest_pct', 'stream', 'mba_pct', 'degree_type']
# Dependent Variable
y = train.iloc[:, -1]
# Independent Variable
X = train[features]
X.isna().sum()

gender         0
ssc_pct        110
hsc_pct        244
degree_pct     172
work_exp       313
emptest_pct    182
stream         50
mba_pct        268
degree_type    37
dtype: int64

In [10]:
# Extracting features from test data
X_test = test_df[features]

In [11]:
# Converting values into dummy variables
X = pd.get_dummies(X)
X.isna().sum()

ssc_pct                        110
hsc_pct                        244
degree_pct                     172
emptest_pct                    182
mba_pct                        268
gender_Female                  0
gender_Male                    0
work_exp_No                    0
work_exp_Yes                   0
stream_Finance                 0
stream_HR                      0
degree_type_Commerce & Mgmt    0
degree_type_Other Degree       0
degree_type_Science & Tech     0
dtype: int64

In [12]:
X_test = pd.get_dummies(X_test)
X_test.isna().sum()

ssc_pct                        53
hsc_pct                        107
degree_pct                     86
emptest_pct                    73
mba_pct                        116
gender_Female                  0
gender_Male                    0
work_exp_No                    0
work_exp_Yes                   0
stream_Finance                 0
stream_HR                      0
degree_type_Commerce & Mgmt    0
degree_type_Other Degree       0
degree_type_Science & Tech     0
dtype: int64

In [13]:
# Missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan).fit(X[['ssc_pct', 'hsc_pct','degree_pct','emptest_pct', 'mba_pct']])
X[['ssc_pct', 'hsc_pct','degree_pct','emptest_pct', 'mba_pct']] = imputer.transform(X[['ssc_pct', 'hsc_pct','degree_pct','emptest_pct', 'mba_pct']])
X.isna().sum()

ssc_pct                        0
hsc_pct                        0
degree_pct                     0
emptest_pct                    0
mba_pct                        0
gender_Female                  0
gender_Male                    0
work_exp_No                    0
work_exp_Yes                   0
stream_Finance                 0
stream_HR                      0
degree_type_Commerce & Mgmt    0
degree_type_Other Degree       0
degree_type_Science & Tech     0
dtype: int64

In [14]:
# Missing values
X_test[['ssc_pct', 'hsc_pct','degree_pct','emptest_pct', 'mba_pct']] = imputer.transform(X_test[['ssc_pct', 'hsc_pct','degree_pct','emptest_pct', 'mba_pct']])

In [15]:
# Using feature scaling to scale the values into a range 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X[['ssc_pct', 'hsc_pct','degree_pct','emptest_pct', 'mba_pct']])
X[['ssc_pct', 'hsc_pct','degree_pct','emptest_pct', 'mba_pct']] = scaler.transform(X[['ssc_pct', 'hsc_pct','degree_pct','emptest_pct', 'mba_pct']])
X.head(5)

,ssc_pct,hsc_pct,degree_pct,emptest_pct,mba_pct,gender_Female,gender_Male,work_exp_No,work_exp_Yes,stream_Finance,stream_HR,degree_type_Commerce & Mgmt,degree_type_Other Degree,degree_type_Science & Tech
0,-0.026425,0.118116,-0.073827,-0.083816,-0.184883,1,0,1,0,1,0,1,0,0
1,-0.066315,0.401460,0.110610,0.204505,-0.098983,0,1,1,0,1,0,1,0,0
2,0.176664,-0.263197,-0.067772,-0.086265,-0.074863,0,1,0,1,1,0,0,0,1
3,0.022571,-0.201486,0.010500,-0.353592,-0.148915,1,0,1,0,0,1,1,0,0
4,-0.193633,-0.229580,-0.304534,-0.398555,-0.154204,1,0,1,0,0,1,1,0,0

In [16]:
X_test[['ssc_pct', 'hsc_pct','degree_pct','emptest_pct', 'mba_pct']] = scaler.transform(X_test[['ssc_pct', 'hsc_pct','degree_pct','emptest_pct', 'mba_pct']])

In [17]:
# Spliting dataset into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test_X, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0)

In [18]:
# Importing algorithms from sklearn
from sklearn.tree import DecisionTreeClassifier, ExtraTreeClassifier
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier

In [19]:
# Fiting train and test data into the algorithm
tree = ExtraTreesClassifier(n_estimators = 100 ,random_state = 0)
tree.fit(X_train, y_train)

ExtraTreesClassifier(random_state=0)

In [20]:
# Predicting the result on test dataset
pred = tree.predict(X_test_X)

In [21]:
# Calulating the score of the predicted values
from sklearn.metrics import f1_score, accuracy_score

In [22]:
print('F1 score is', f1_score(pred, y_test))
print('accuracy score is ', accuracy_score(pred, y_test))

F1 score is 0.7536231884057972
accuracy score is  0.8785714285714286

In [23]:
# Predicting the result on test dataset
test_pred = tree.predict(X_test)

(3000,)

(3000,)

In [26]:
# Creating new column to save predicted values
test_df['predictecd_prob'] = test_pred

In [27]:
# Saving predicted values into the dataset
data_converter.convert_df_to_my_table(test_df)

'Successfully added dataframe as a new table. Move to point & click to view the file.'