importing the libraries

In [239]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

importing the dataset

In [240]:
header_names = ['Id number', 'refractive index', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type fo glass']
dataset = pd.read_csv('/content/glass_identification_data.csv', names=header_names)
dataset.drop(['Id number'], axis = 1, inplace=True)
dataset

     refractive index     Na    Mg    Al  ...    Ca    Ba   Fe  Type fo glass
0             1.52101  13.64  4.49  1.10  ...  8.75  0.00  0.0              1
1             1.51761  13.89  3.60  1.36  ...  7.83  0.00  0.0              1
2             1.51618  13.53  3.55  1.54  ...  7.78  0.00  0.0              1
3             1.51766  13.21  3.69  1.29  ...  8.22  0.00  0.0              1
4             1.51742  13.27  3.62  1.24  ...  8.07  0.00  0.0              1
..                ...    ...   ...   ...  ...   ...   ...  ...            ...
209           1.51623  14.14  0.00  2.88  ...  9.18  1.06  0.0              7
210           1.51685  14.92  0.00  1.99  ...  8.40  1.59  0.0              7
211           1.52065  14.36  0.00  2.02  ...  8.44  1.64  0.0              7
212           1.51651  14.38  0.00  1.94  ...  8.48  1.57  0.0              7
213           1.51711  14.23  0.00  2.08  ...  8.62  1.67  0.0              7

[214 rows x 10 columns]

In [241]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [242]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [243]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((171, 9), (43, 9), (171,), (43,))

In [244]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [245]:
linear_pipeline = Pipeline([('scaler1', StandardScaler()),
                            ('Linear', LogisticRegression(random_state = 0))])
svm_pipeline = Pipeline([('scaler2', StandardScaler()),
                            ('svm', SVC(kernel = 'linear', random_state = 0))])

In [246]:
kernel_pipeline = Pipeline([('scaler3', StandardScaler()),
                            ('kernel', SVC(kernel = 'rbf', random_state = 0))])
knn_pipeline = Pipeline([('scaler4', StandardScaler()),
                            ('knn', KNeighborsClassifier(n_neighbors=5))])

In [247]:
decision_pipeline = Pipeline([('scaler6', StandardScaler()),
                            ('decision', DecisionTreeClassifier(criterion='entropy', random_state = 0))])
random_pipeline = Pipeline([('scaler7', StandardScaler()),
                            ('random_tree', RandomForestClassifier(n_estimators = 30, criterion='entropy', random_state = 0))])

In [248]:
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering

In [249]:
pipelines = [linear_pipeline, svm_pipeline, kernel_pipeline, knn_pipeline, decision_pipeline, random_pipeline]

In [250]:
for pipe in pipelines:
    pipe.fit(X_train, y_train)
    score = pipe.score(X_test, y_test)
    print(score)

0.5348837209302325
0.5348837209302325
0.627906976744186
0.6046511627906976
0.627906976744186
0.7209302325581395